[mysqld]
skip-host-cache
skip-name-resolve
explicit_defaults_for_timestamp
innodb_flush_log_at_trx_commit=2 
innodb_buffer_pool_size=7G
innodb_flush_method=O_DIRECT
innodb_doublewrite=0
innodb_use_native_aio=0
symbolic-links=0

